@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css'; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Helvetica, sans-serif;
}
html, body {
  height: 100%;
  overflow-x: hidden; 
}
.siswa-position {
  top: calc(50% - 200px); /* mobile default */
}
@media (min-width: 640px) {
  .siswa-position {
    top: calc(50% - 280px); /* desktop */
  }
}
